.nav {
	align-items: stretch;
	background: var(--bg-1);
	box-shadow: var(--bs-down);
	display: flex;
	gap: var(--gap-lg);
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-around;
	position: sticky;
	top: 0;
	width: 100%;
}

.logo {
	align-items: center;
	display: flex;
	justify-content: center;
	min-width: 122px;
}

.flexAnchor {
	display: flex;
	font-weight: var(--fw-bold);
	gap: var(--gap-lg);
	overflow-x: auto;
}

.flexAnchor a {
	align-items: center;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.flexAnchor {
		gap: var(--gap-md);
	}

	.flexAnchor span {
		display: none;
	}

	.flexAnchor a {
		font-size: 1.8rem;
		padding: .2rem;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		display: none;
	}

	.nav {
		bottom: 0;
		box-shadow: var(--bs-top);
		position: fixed;
		top: revert;
		width: 100%;
	}

	.flexAnchor {
		justify-content: space-between;
		width: 100%;
	}

	.flexAnchor a {
		width: 100%;
	}
}