.nav {
	align-items: center;
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--bs-down);
	display: flex;
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
}

.desktopLogo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: var(--mg-sm);
}

.flexAnchor {
	align-items: center;
	display: flex;
	font-weight: bold;
	gap: var(--gap-lg);
	justify-content: center;
}
