.section {
	align-items: center;
	display: flex;
	gap: var(--gap-sm);
	justify-content: space-between;
	overflow-x: auto;
	padding: var(--pd-sm);
	scrollbar-color: var(--bg-white) var(--bg-blue);
	width: 100%;
}

.path {
	color: var(--color-white);
}

@media screen and (max-width: 480px) {
	.section i {
		font-size: 1.4rem;
	}
}
