.sidebarSection {
	grid-row: span 1;
	background: var(--bg-1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	clip-path: inset(0px -15px 0px 0px);
	z-index: 1;
}
.flexSidebarButtons {
	display: flex;
	flex-direction: column;
}
.itemSidebarButtons {
	padding: 0.4rem;
	background: none;
	border: none;
}
.itemSidebarButtons:hover i,
.itemSidebarButtons:active i,
.itemSidebarButtons:focus i,
.itemSidebarButtons:focus-within i,
.itemSidebarButtons:focus-visible i {
	color: var(--bg-blue);
}
.sideBarFonts {
	font-size: 2rem;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
