.outerSection {
	background: var(--bg-1);
	border-right: 5px solid var(--bg-2);
	grid-area: 2 / 2 / 4 / 3;
	height: 100%;
	width: 200px;
	overflow: auto;
	z-index: 2;
}
.paddingDiv {
	padding: 1rem;
}
.headerDiv {
	border-bottom: 3px solid var(--bg-2);
	display: flex;
	font-weight: bold;
}
.headerParagraph {
	width: 100%;
}
.options {
	display: flex;
	text-align: end;
}
.filesList {
	list-style-type: none;
	white-space: nowrap;
}

@media screen and (max-width: 480px) {
	.outerSection {
		grid-area: 2 / 2 / span 2 / span 2;
	}
}
