.fileExplorer {
	background: var(--bg-1);
	box-shadow: var(--bs-side);
	grid-area: 2 / 2 / 4 / 3;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.fileExplorer {
		grid-area: 2 / 2 / 4 / 4;
	}
}
