.section {
	align-items: center;
	animation: fade 100ms ease-in-out;
	background: var(--bg-1);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.flexDiv {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--pd-lg);
}
.flexButton {
	align-items: center;
	display: flex;
	gap: 0.4rem;
	justify-content: space-between;
	width: 100%;
}
.warning {
	font-weight: bold;
}
.delete,
.cancel {
	font-weight: bold;
	width: 100%;
}
.delete {
	border: var(--border-error);
}
.cancel {
	border: var(--border-blue);
}
.delete:hover,
.delete:active,
.delete:focus {
	background: var(--bg-error);
}
.cancel:hover,
.cancel:active,
.cancel:focus {
	background: var(--bg-blue);
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
