.bg {
	align-items: center;
	background: var(--canvas-bg);
	border-top: var(--border-blue);
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow-y: auto;
	width: 100vw;
}
.form {
	align-items: center;
	background: var(--bg-1);
	border: 3px solid var(--bg-blue);
	border-radius: 1.2rem;

	box-shadow: var(--box-shadow);
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	justify-content: center;
	margin: auto;
	max-width: 600px;
	padding: 2rem;
}
.header {
	text-align: center;
	width: 100%;
}
.input {
	border: var(--border-blue);
	margin: auto;
	padding: 17.5px 29px;
	width: 100%;
}
.flexButtons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	justify-content: center;
	width: 100%;
}

.itemButtons {
	border: var(--border-blue);
	border-radius: 0.6rem;
	box-sizing: content-box;
	padding: 0.2rem;
	text-align: center;
	width: calc(50% - 6px - 0.6rem);
}

.itemButtons:hover,
.itemButtons:active,
.itemButtons:focus {
	background: var(--bg-blue);
	color: var(--color-white);
}
.error {
	background: var(--error-red);
	border-radius: 0.6rem;
	padding: 0.4rem;
	text-align: center;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.form {
		padding: 1rem;
	}
}
@media screen and (max-width: 480px) {
	.form {
		box-shadow: none;
		width: 100%;
	}
	.itemButtons {
		font-size: 0.8rem;
		padding: 0.2rem;
	}
}
