.flexMethods {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-md);
	justify-content: center;
	width: 100%;
}

.emailMethod {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input {
	border: var(--border-blue);
	margin: auto;
	padding: 17.5px 29px;
	width: 100%;
}


.itemMethod {
	border: var(--border-blue);
	border-radius: var(--br-md);
	padding: var(--pd-md);
	text-align: center;
	width: calc(50% - 0.4rem);
}

.submit {
	border: var(--border-blue);
	border-radius: var(--br-md);
	padding: var(--pd-md);
	text-align: center;
	width: 100%;
}

.name {
	font-size: 1.2rem;
	font-weight: var(--fw-bold);
}

.flexMethods button {
	transition: var(--transition);
}

.flexMethods button:not([name="Signin via Google"]) {
	color: var(--color-white);
}

.flexMethods button[name="Signin via Google"] {
	background: var(--bg-white);
	border: 3px solid #f5f5f5;
	color: var(--color-black);
}

.flexMethods button[name="Signin via GitHub"] {
	background: #171515;
	border: 3px solid #171515;
}

.flexMethods button[name="Signin via Facebook"] {
	background: #4267b2;
	border: 3px solid #4267b2;
}

.flexMethods button[name="Signin via LinkedIn"] {
	background: #0077b5;
	border: 3px solid #0077b5;
}

.flexMethods button[name="Signin via Twitter"] {
	background: #1da1f2;
	border: 3px solid #1da1f2;
}

.flexMethods button[name="Signin via Auth0"] {
	background: #1e212a;
	border: 3px solid #1e212a;
}

.or {
	font-weight: var(--fw-bold);
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.bg {
		background: var(--bg-1);
	}
}

@media screen and (max-width: 480px) {
	.input {
		height: 32px;
	}

	.itemMethod {
		width: 200%;
	}
}