.file,
.folder,
.rootFile {
	display: block;
	text-align: left;
	width: 100%;
}

.indent {
	margin-left: var(--mg-md);
}

.folder {
	font-weight: bold;
}

.indent > .folder {
	border-left: 1px solid var(--bg-blue);
}

.file {
	border-left: 1px solid var(--bg-blue);
}

.file:is(:hover, :active, :focus) {
	background: var(--bg-blue);
}

.folder button {
	border-radius: 0;
}
