.folder,
.file,
.rootFile {
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding-left: var(--pd-md);
    display: inline-block;
}

.folder {
    font-weight: bold;
}

.folder > .folder:hover,
.folder > .folder:active,
.folder > .folder:focus {
    background: var(--fx-hover);
}

.folder > .file:hover,
.folder > .file:active,
.folder > .file:focus {
    background: var(--bg-blue);
}

.file {
    border-left: 1px solid var(--bg-blue);
}

.file,
.rootFile {
    font-weight: normal;
}