.file,
.folder,
.rootFile {
	display: block;
	text-align: left;
	white-space: nowrap;
	width: 100%;
}

.indent {
	margin-left: var(--mg-md);
}

.folder {
	font-weight: var(--fw-bold);
}

.indent > .folder,
.file {
	border-left: 1px solid var(--bg-blue);
}

.file:is(:hover, :active, :focus),
.indent > .folder:is(:hover, :active, :focus) {
	background: var(--bg-blue);
	color: var(--color-white);
}

.folder button {
	border-radius: revert;
}