.section {
	background: var(--canvas-bg);
	box-shadow: var(--bs-full);
	margin: auto;
	min-height: 100vh;
	width: 95vw;
}

.empty {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 500px;
	text-align: center;
}

.emptyTitle {
	color: var(--color-blue);
}

.create {
	border: 1px solid var(--color-blue);
	color: var(--color-blue);
	font-weight: var(--fw-bold);
	padding: var(--pd-lg);
}

.container {
	display: grid;
	gap: var(--gap-lg);
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 1fr));
	padding: var(--pd-lg);
}

.emptyContainer {
	display: flex;
	min-height: 100vh;
}


@media screen and (max-width: 768px) {

	.section,
	.sectionNone {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {

	.section,
	.sectionNone {
		grid-template-columns: 1fr;
	}

	.genNewProject {
		display: none;
	}
}