.bg {
	align-items: center;
	background: var(--canvas-bg);
	display: flex;
	height: calc(100vh - 3px);
	justify-content: center;
	overflow-y: auto;
}

.flexDiv {
	align-items: center;
	background: var(--bg-1);
	border-radius: var(--br-lg);
	box-shadow: var(--bs-full);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	max-width: 600px;
	padding: 2rem;
	width: 100%;
}

.spanImage {
	text-align: center;
	width: 100%;
}

.name {
	font-size: 1.2rem;
	font-weight: var(--fw-bold);
}

.why {
	width: 100%;
}

.or {
	font-weight: var(--fw-bold);
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.flexDiv {
		border: none;
		box-shadow: none;
	}

	.bg {
		background: var(--bg-1);
	}
}

@media screen and (max-width: 480px) {
	.flexDiv {
		padding: var(--pd-lg);
	}
}

.signout {
	border: var(--border-blue);
	box-shadow: var(--bs-full);
	font-weight: var(--fw-bold);
	margin: var(--mg-sm);
	padding: var(--pd-lg);
}

.signout:hover {
	background: var(--bg-blue);
}