.sidebarSection,
.sidebarSectionOpen {
	background: var(--bg-1);
	box-shadow: var(--bs-side);
	clip-path: inset(0px -15px 0px 0px);
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / 4 / 1;
	justify-content: space-between;
	overflow-y: auto;
	padding: var(--pd-sm);
	z-index: 10;
}
.flexButtons {
	display: flex;
	flex-direction: column;
}
.itemButtons {
	padding: var(--pd-sm);
}
.itemButtons:hover i,
.itemButtons:active i,
.itemButtons:focus i,
.itemButtons:focus-within i,
.itemButtons:focus-visible i {
	color: var(--color-blue);
}
.iFonts {
	font-size: 2rem;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
	.sidebarSection {
		display: none;
	}
	.flexButtons {
		gap: 0.2rem;
	}
}
