.nav {
	align-items: center;
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--bs-side);
	display: flex;
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-between;
	width: 100%;
	z-index: 10;
}

.desktopLogo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: var(--mg-sm);
}

.flexAnchor {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}
