.navbar,
.navBarOpen {
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--box-shadow);
	display: flex;
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-between;
	z-index: 1;
}
.desktopLogo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 10px;
}
.flexNavButton {
	display: flex;
}
.itemNavButtons {
	border-radius: 100px;
	font-size: 1rem;
	padding: 0.4rem;
	text-align: center;
}
.itemNavButtons:hover i,
.itemNavButtons:hover span,
.itemNavButtons:active i,
.itemNavButtons:active span,
.itemNavButtons:focus i,
.itemNavButtons:focus span {
	color: var(--bg-2);
}

@media screen and (max-width: 768px) {
	.itemNavButtons {
		font-size: 1.4rem;
	}
	.itemNavButtons span {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.mymdLogo {
		display: none;
	}
	.navbar {
		display: none;
	}
	.navBarOpen {
		border-top: none;
		flex-direction: column;
		grid-column: 4;
		grid-row: 2 /4;
	}
	.desktopLogo {
		display: none;
	}
	.flexNavButton {
		flex-direction: column;
		overflow-y: auto;
	}
	.iFonts {
		font-size: 2rem;
	}
}
