.navbar,
.navBarOpen {
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--bs-side);
	display: flex;
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-between;
	z-index: 10;
}
.desktopLogo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 10px;
}
.flexButtons {
	display: flex;
}
.itemButtons {
	margin: auto;
	padding: var(--pd-md);
	text-align: center;
}
.itemButtons:hover i,
.itemButtons:hover span,
.itemButtons:active i,
.itemButtons:active span,
.itemButtons:focus i,
.itemButtons:focus span {
	color: var(--color-blue);
}

@media screen and (max-width: 768px) {
	.itemButtons {
		font-size: 1.4rem;
	}
	.itemButtons span {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.mymdLogo {
		display: none;
	}
	.navbar {
		display: none;
	}
	.flexButtons {
		flex-direction: column;
		gap: 0.2rem;
		overflow-y: auto;
	}
	.navBarOpen {
		border-top: none;
		clip-path: inset(0px 0px 0px -15px);
		flex-direction: column;
		grid-area: 2 / 4 / 4 / 4;
		padding: var(--pd-sm);
	}
	.itemButtons {
		padding: var(--pd-sm);
	}
	.desktopLogo {
		display: none;
	}
	.flexNavButton {
		flex-direction: column;
		overflow-y: auto;
	}
	.iFonts {
		font-size: 2rem;
	}
}
