.e-filemanager {
    background: transparent;
    border-color: transparent;
}

.e-filemanager .e-toolbar {
    border-bottom-color: revert;
}

.e-filemanager .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn.e-tbar-btn.e-active {
    background: var(--bg-1);
    border-color: var(--bg-1);
}

.e-filemanager .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn.e-tbar-btn:hover {
    background: var(--bg-1);
    border-color: var(--bg-1);
}

.e-filemanager .e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn.e-tbar-btn:focus {
    background: var(--bg-1);
    border-color: var(--bg-1);
}

.e-filemanager .e-address {
    border-bottom-color: revert;
}

.e-filemanager .e-address .e-icons {
    color: var(--color-1);
}

.e-filemanager .e-address .e-list-text {
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item {
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item:focus .e-list-text {
    background: transparent;
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item:last-child .e-list-text {
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item:not(:last-child) .e-list-text:hover {
    background: var(--bg-blue);
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item:not(:last-child) .e-list-text:active {
    background: red;
    color: var(--color);
}

.e-filemanager .e-address .e-address-list-item:not(:last-child) .e-list-text:focus {
    background: red;
    color: var(--color);
}

/*  */
.e-filemanager .e-address .e-search-wrap .e-input-group.e-control-wrapper:not(.e-success) {
    /* background: var(--bg-1); */
    /* border-color: var(--bg-1); */
}

.e-filemanager .e-treeview .e-list-item.e-active > .e-fullrow {
    border: red;
}

.e-filemanager .e-treeview .e-list-parent .e-list-item.e-fe-drop-folder.e-hover > .e-fullrow {
    border-color: red;
}

.e-filemanager .e-grid .e-gridheader tr:first-child th {
    background: red;
}

.e-filemanager .e-grid .e-gridheader .e-headercell:not(.e-fe-grid-icon):hover {
    background: red;
}

.e-filemanager .e-grid .e-gridheader .e-headercell.e-fe-checkbox:hover {
    background: red;
}

.e-filemanager .e-grid .e-gridheader .e-headercell.e-fe-grid-icon .e-headercelldiv:hover {
    background: red;
}

.e-filemanager .e-grid td.e-active {
    background-color: red;
    color: var(--color-blue);
}

.e-filemanager .e-grid.e-gridhover tr[role=row].e-fe-drop-file:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: transparent;
}

.e-filemanager .e-large-icons .e-list-img {
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-active {
    color: var(--color-blue);
}

.e-filemanager .e-large-icons .e-large-icon {
    border-color: transparent;
}

.e-filemanager .e-large-icons .e-large-icon.e-active {
    background: var(--bg-blue);
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-large-icon.e-hover {
    background: var(--bg-blue);
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-large-icon.e-active.e-hover {
    background: var(--bg-blue);
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-large-icon.e-focus {
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-large-icon.e-hover.e-fe-drop-folder {
    border-color: var(--bg-blue);
}

.e-filemanager .e-large-icons .e-checkbox-wrapper .e-icons.e-check {
    background-color: var(--bg-white);
    color: var(--bg-blue);
}

.e-filemanager .e-fe-clone .e-fe-content {
    background-color: var(--bg-blue);
    color: rgba(0, 0, 0, 0.87);
}

.e-filemanager .e-fe-clone .e-fe-count {
    background-color: var(--bg-blue);
    border-color: var(--bg-blue);
    color: var(--color);
}

.e-filemanager.e-fe-mobile .e-large-icons .e-large-icon.e-hover {
    background: transparent;
    border-color: transparent;
}

.e-filemanager.e-fe-mobile .e-large-icons .e-large-icon.e-focus {
    border-color: transparent;
}

.e-filemanager.e-fe-mobile .e-large-icons .e-large-icon.e-active {
    background: var(--bg-blue);
    border-color: var(--bg-blue);
}

.e-menu-icon {
    color: var(--color-blue) !important;
}

.e-fe-popup.e-contextmenu-wrapper ul .e-menu-item {
    background: var(--bg-1);
    color: var(--color);
}

.e-fe-popup.e-dropdown-popup ul .e-item .e-fe-dot,
.e-fe-popup.e-dropdown-popup ul .e-item .e-fe-tick,
.e-fe-popup.e-contextmenu-wrapper ul .e-menu-item .e-fe-dot,
.e-fe-popup.e-contextmenu-wrapper ul .e-menu-item .e-fe-tick,
.e-fe-popup.e-contextmenu-container ul .e-menu-item .e-fe-dot,
.e-fe-popup.e-contextmenu-container ul .e-menu-item .e-fe-tick {
    color: var(--bg-blue);
}

/* .e-item {
    background: transparent;
} */

.e-fe-popup.e-dialog td {
    color: rgba(0, 0, 0, 0.87);
}

.e-fe-popup.e-dialog td:first-child {
    color: rgba(0, 0, 0, 0.54);
}

.e-fe-popup .e-fe-error {
    color: red;
}

.e-fe-popup .e-upload .e-upload-actions {
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

.e-dlg-content {
    color: black;


}

.e-fe-breadcrumb {
    background-color: transparent;
}

.e-breadcrumb-submenu {
    background-color: transparent;
}

.e-btn-icon {
    color: white !important;
}


/*! drop-down button theme */
/*! drop-down button theme */
/*! drop-down button theme */

.e-dropdown-popup {
    background-color: var(--bg-1);
    color: var(--color);
}

.e-dropdown-popup ul .e-item .e-menu-url {
    color: var(--color-blue);
}

.e-dropdown-popup ul .e-item .e-menu-icon {
    color: var(--color);
}

.e-dropdown-popup ul .e-item.e-focused {
    background-color: var(--bg-blue);
    box-shadow: none;
}

.e-dropdown-popup ul .e-item:hover {
    background-color: var(--bg-blue);
    color: var(--color);
}

.e-dropdown-popup ul .e-item:active,
.e-dropdown-popup ul .e-item.e-selected {
    background-color: var(--bg-blue);
    color: var(--color);
}

.e-dropdown-popup ul .e-item:active .e-menu-url,
.e-dropdown-popup ul .e-item.e-selected .e-menu-url {
    color: var(--color);
}

.e-dropdown-popup ul .e-item:active .e-menu-icon,
.e-dropdown-popup ul .e-item.e-selected .e-menu-icon {
    color: var(--color);
}

.e-dropdown-popup ul .e-separator {
    border-bottom-color: rgba(0, 0, 0, 0.12);
}