.nav,
.navOpen {
	align-items: center;
	background: var(--bg-1);
	box-shadow: var(--bs-down);
	display: flex;
	grid-area: 1 / 1 / 1 / 5;
	justify-content: space-between;
	width: 100%;
	z-index: 10;
}

.desktopLogo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: var(--mg-sm);
}

.flexButtons {
	align-items: center;
	display: flex;
	justify-content: center;
}

.flexButtons :is(button, a) {
	align-items: center;
	display: flex;
	font-weight: var(--fw-bold);
	justify-content: center;
	margin: auto;
	padding: var(--pd-md);
	text-align: center;
}

@media screen and (max-width: 768px) {
	.flexButtons :is(button, a) {
		font-size: 1.4rem;
	}

	.flexButtons :is(button, a) span {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.anymdLogo {
		display: none;
	}

	.nav {
		display: none;
	}

	.flexButtons {
		flex-direction: column;
		gap: var(--gap-sm);
		overflow: hidden auto;
	}

	.navOpen {
		flex-direction: column;
		grid-area: 2 / 4 / 4 / 4;
		padding: var(--pd-sm);
	}

	.flexButtons :is(button, a) {
		padding: var(--pd-sm);
	}

	.desktopLogo {
		display: none;
	}

	.flexNavButton {
		flex-direction: column;
		overflow-y: auto;
	}

	.flexButtons :is(a, button) i {
		font-size: 2rem;
	}
}