.icon-folder:before {
	content: "\e800";
} /* '' */
.icon-globe:before {
	content: "\e801";
} /* '' */
.icon-arrows-cw:before {
	content: "\e802";
} /* '' */
.icon-docs:before {
	content: "\f0c5";
} /* '' */
.icon-doc-inv:before {
	content: "\f15b";
} /* '' */
.icon-file-code:before {
	content: "\f1c9";
} /* '' */
