.section {
	align-items: center;
	background: var(--canvas-bg);
	box-shadow: var(--bs-full);
	display: grid;
	flex-wrap: wrap;
	gap: var(--gap-lg);
	grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
	justify-content: center;
	margin: auto;
	min-height: 100vh;
	padding: var(--pd-lg);
	width: 95vw;
}

.section > button {
	border: 2px solid var(--bg-blue);
	border-radius: var(--br-md);
	min-height: 200px;
	padding: var(--pd-md);
}

.section > button:is(:hover, :focus, :active) {
	background: var(--bg-blue);
	color: var(--color-white);
}
.empty {
	text-align: center;
	width: 100%;
}
.emptyTitle {
	color: var(--color-blue);
}

.mobileNewProject {
	align-items: center;
	background: var(--bg-blue);
	border-radius: 50%;
	bottom: 20px;
	color: var(--color-whitesmoke);
	height: 70px;
	justify-content: center;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 70px;
	/* display: none; */
}
.mobileNewProject i {
	color: var(--color-white);
	font-size: 3rem;
}
.mobileNewProject:hover {
	background: var(--bg-blue-op);
	color: var(--color-white);
}
@media screen and (max-width: 768px) {
	.section {
		width: 100%;
	}
	.mobileNewProject {
			display: flex;
	}
}