.section {
    align-items: center;
    background: var(--bg-1);
    border-top: var(--border-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    text-align: center;
}

.section h1 {
    color: var(--color-blue);
}

.delimit {
    width: 80%;
    max-width: 500px;
}

.credit {
    bottom: 0;
    font-weight: bold;
    position: fixed;
}

.section a {
    color: var(--color-blue);
    padding: var(--pd-md);
    display: inline;
    font-weight: bold;
}
