.canvasSection {
	display: flex;
	grid-area: 2 / 3 / 4 / 4;
}
.grammarly {
	height: 100%;
	width: 100%;
}
.editor {
	height: 100vh;
	overflow-y: auto;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
	.canvasSection {
		grid-area: 2 / 3 / 4 / span 3;
	}
}
@media screen and (max-width: 480px) {
	.canvasSection {
		grid-area: 2 / 3 / 5 / 4;
	}
	section.explorerOpen {
		grid-area: 3 / 2 / 5 / 4;
	}
}
