.resizable {
	background: var(--bg-1);
	border-right: 5px solid var(--bg-2);
	grid-area: 2 / 2 / 4 / 2;
	height: 100%;
	max-width: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1rem;
	width: 100%;
}
.headerDiv {
	border-bottom: 3px solid var(--bg-2);
	display: flex;
	font-weight: bold;
}
.headerParagraph {
	width: 100%;
}
.options {
	display: flex;
	text-align: end;
}
.filesList {
	list-style-type: none;
}
@media screen and (max-width: 480px) {
	.resizable {
		grid-area: 2 / 2 / 3 / 4;
		max-width: 100%;
	}
}
