.resizable {
	background: var(--bg-1);
	grid-area: 2 / 2 / 4 / 2;
	height: 100%;
	width: 100%;
	max-width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 5px solid var(--bg-2);
	padding: 1rem;
}
.headerDiv {
	display: flex;
	font-weight: bold;
	border-bottom: 3px solid var(--bg-2);
}
.headerParagraph {
	width: 100%;
}
.options {
	text-align: end;
	display: flex;
}
.filesList {
	list-style-type: none;
}
@media screen and (max-width: 480px) {
	.resizable {
		max-width: 100%;
		grid-column: span 2;
		grid-row: span 1;
	}
}
