.navbar,
.navBarOpen {
	display: flex;
	justify-content: space-between;
	grid-column: span 4;
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--box-shadow);
	z-index: 1;
	padding: 0.4rem;
}
.flexNavButton {
	display: flex;
}
.itemNavButtons {
	background: none;
	border: none;
	padding: 0.4rem;
	border-radius: 100px;
	text-align: center;
	font-size: 1rem;
}
.itemNavButtons:hover {
	color: var(--bg-2);
}
@media screen and (max-width: 768px) {
	.itemNavButtons {
		font-size: 1.4rem;
	}
	.itemNavButtons span {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.mymdLogo {
		display: none;
	}
	.navbar {
		display: none;
	}
	.navBarOpen {
		grid-column: 4;
		grid-row: 2 /4;
		flex-direction: column;
		border-top: none;
	}
	.flexNavButton {
		flex-direction: column;
	}
}
