.navbar {
	display: flex;
	justify-content: space-between;
	grid-column: span 4;
	background: var(--bg-1);
	border-top: 3px solid var(--bg-2);
	box-shadow: var(--box-shadow);
	z-index: 1;
	padding: 0.4rem;
}
.flexNavButton {
	display: flex;
}
.itemNavButtons {
	background: none;
	padding: 0.4rem;
	border: none;
	border-radius: 100px;
	text-align: center;
}
