:root {
	--bg-white: #fff;
	--bg-blue: #007acc;
	--bg-black: #1a2632;
	--bg-yellow: #faee0f;

	--color-white: #ffffff;
	--color-black: #000000;

	--textarea-bg: #ffffff;
	--input-black: #233343;
	--error-red: #ff0000;
	--box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	--fast-transition: color 100ms linear 0s, background 100ms linear 0s;
}
::selection {
	background: var(--bg-2);
	color: var(--bg-1);
}
::-webkit-scrollbar-track {
	background: var(--bg-1);
}
::-webkit-scrollbar-thumb {
	background: var(--bg-2);
}
::-webkit-scrollbar-thumb:hover {
	background: #007accaa;
}
::-webkit-scrollbar {
	width: 1vh;
	height: 1vh;
}
*,
html {
	padding: 0;
	margin: 0;
	color: var(--color);
	transition: var(--fast-transition);
}
html,
textarea,
div {
	scrollbar-width: thin;
	scrollbar-color: var(--bg-2) var(--bg-1);
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6rem;
	position: fixed;
	width: 100%;
	height: 100%;
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
