:root {
	--bg-white: #fff;
	--bg-blue: #007acc;
	--bg-black: #1a2632;
	--bg-yellow: #faee0f;

	--color-white: #ffffff;
	--color-black: #000000;

	--border-blue: 3px solid var(--bg-blue);

	--textarea-bg: #ffffff;
	--input-black: #233343;
	--error-red: #ff0000;
	--box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	--fast-transition: color 100ms linear 0s, background 100ms linear 0s;
}
::selection {
	background: var(--bg-2);
	color: var(--bg-1);
}
::-webkit-scrollbar-track {
	background: var(--bg-1);
}
::-webkit-scrollbar-thumb {
	background: var(--bg-2);
}
::-webkit-scrollbar-thumb:hover {
	background: #007accaa;
}
::-webkit-scrollbar {
	height: 1vh;
	width: 1vh;
}
*,
html {
	color: var(--color);
	margin: 0;
	padding: 0;
	transition: var(--fast-transition);
}
html,
textarea,
div,
section {
	scrollbar-color: var(--bg-2) var(--bg-1);
	scrollbar-width: thin;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	height: 100%;
	line-height: 1.6rem;
	position: fixed;
	width: 100%;
}

button,
input {
	background: none;
	border: none;
	line-height: inherit;
}
button {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	color: inherit;
	text-decoration: none;
}
hr {
	background-color: var(--bg-blue);
	color: var(--bg-blue);
	margin: 1rem auto;
	width: 70%;
}
input,
textarea,
button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
input,
button {
	border-radius: 0.6rem;
}
