:root {
	--bg-white: #fff;
	--bg-blue: #007acc;
	--bg-black: #1a2632;
	--bg-yellow: #faee0f;

	--bg-success: #198754;
	--bg-error: #dc3545;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-blue: #007acc;
	--color-red: #dc3545;

	--border-blue: 3px solid var(--bg-blue);
	--border-success: 3px solid var(--bg-success);
	--border-error: 3px solid var(--bg-error);

	--textarea-bg: #ffffff;
	--input-black: #233343;
	--box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	/* --fast-transition: color 1000ms linear 0s, background 1000ms linear 0s; */
	--fast-transition: color 100ms linear 0s, background-color 100ms linear 0s;
}
::selection {
	background: var(--bg-2);
	color: var(--color-white);
}
::-webkit-scrollbar-track {
	/* background: var(--bg-1); */
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--bg-2);
}
::-webkit-scrollbar-thumb:hover {
	background: #007accaa;
}
::-webkit-scrollbar {
	height: 1vh;
	width: 1vh;
}
*,
html {
	box-sizing: border-box;
	color: var(--color);
	margin: 0;
	padding: 0;
	transition: var(--fast-transition);
}
html,
textarea,
div,
section,
code {
	scrollbar-color: var(--bg-2) transparent;
	scrollbar-width: thin;
}
body {
	background: var(--bg-1);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	height: 100%;
	line-height: 1.6rem;
	position: fixed;
	width: 100%;
}
button,
input {
	background: none;
	border: none;
	line-height: inherit;
}
button {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	color: inherit;
	text-decoration: none;
}
hr {
	background: var(--bg-blue);
	border: 1px solid var(--bg-blue);
	color: var(--color-blue);
	margin: 0.4rem auto;
	width: 100%;
}
input,
textarea,
button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
input,
button {
	border-radius: 0.6rem;
}
.imageAnchor {
	line-height: 0;
}
