.fileExplorer {
	background: var(--bg-1);
	box-shadow: var(--bs-right);
	display: flex;
	flex-direction: column;
	grid-area: 2 / 2 / 4 / 3;
	height: 100%;
	width: 240px;
	z-index: 9;
}

.head {
	align-items: center;
	box-shadow: var(--bs-down);
	display: flex;
	justify-content: space-evenly;
	padding: var(--pd-md);
}

.body {
	overflow: auto;
	padding: var(--pd-md);
}

.headItem {
	width: 100%;
}

.headItem:first-child {
	text-align: start;
}

.headItem:last-child {
	text-align: end;
}

@media screen and (max-width: 768px) {
	.fileExplorer {
		grid-area: 2 / 2 / 4 / 4;
		width: 100%;
	}
}
