.section {
	align-items: center;
	background: var(--canvas-bg);
	box-shadow: var(--bs-full);
	display: flex;
	gap: var(--gap-lg);
	justify-content: center;
	margin: auto;
	min-height: 100vh;
	padding: var(--pd-lg);
	width: 95vw;
}

.empty {
	text-align: center;
}

.emptyTitle {
	color: var(--color-blue);
}

.genNewProject {
	align-items: center;
	background: var(--bg-blue);
	border-radius: 50%;
	bottom: 20px;
	box-shadow: var(--bs-full);
	color: var(--color-whitesmoke);
	height: 70px;
	justify-content: center;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 70px;
	z-index: 12;
}

.genNewProject i {
	color: var(--color-white);
	font-size: 3rem;
}

.genNewProject:hover {
	background: var(--bg-blue-op);
	color: var(--color-white);
}

@media screen and (max-width: 768px) {

	.section,
	.sectionNone {
		width: 100%;
	}
}