.section {
	align-items: center;
	background: var(--canvas-bg);
	box-shadow: var(--bs-full);
	display: flex;
	gap: var(--gap-lg);
	justify-content: center;
	margin: auto;
	min-height: 100vh;
	padding: var(--pd-lg);
	width: 95vw;
}

.empty {
	text-align: center;
}

.emptyTitle {
	color: var(--color-blue);
}

.create {
	color: var(--color-blue);
	font-weight: var(--fw-bold);
}


@media screen and (max-width: 768px) {

	.section,
	.sectionNone {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.genNewProject {
		display: none;
	}
}